<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.chat.mapper.ChatBillsMapper">
    
    <resultMap type="ChatBills" id="ChatBillsResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="paymentCategoryId"    column="payment_category_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectChatBillsVo">
        select id, user_id, payment_category_id, create_time, pay_time, status from chat_bills
    </sql>

    <select id="selectChatBillsList" parameterType="ChatBills" resultMap="ChatBillsResult">
        <include refid="selectChatBillsVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="paymentCategoryId != null "> and payment_category_id = #{paymentCategoryId}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectChatBillsById" parameterType="Long" resultMap="ChatBillsResult">
        <include refid="selectChatBillsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertChatBills" parameterType="ChatBills" useGeneratedKeys="true" keyProperty="id">
        insert into chat_bills
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="paymentCategoryId != null">payment_category_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="paymentCategoryId != null">#{paymentCategoryId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateChatBills" parameterType="ChatBills">
        update chat_bills
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="paymentCategoryId != null">payment_category_id = #{paymentCategoryId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChatBillsById" parameterType="Long">
        delete from chat_bills where id = #{id}
    </delete>

    <delete id="deleteChatBillsByIds" parameterType="String">
        delete from chat_bills where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectChatBillsWithPaymentList" parameterType="java.lang.Long" resultType="com.ruoyi.chat.vo.ChatBillsWithPayment">
        select a.*,b.amount,b.count,b.describ
        from chat_bills a
                 inner join  chat_payment b on a.payment_category_id=b.id
        where a.user_id= #{userId}
        order by a.create_time desc
    </select>
</mapper>